/* Flexbox settings for the links and logo inside the footer*/
.footerContainer {
    height: 10vh;
    display: flex;
    justify-content:space-between;
  }
  
  /* Flexbox settings for text links inside the footer*/
  .footerLink {
    display: flex;
    font-weight: bold;
    align-items: flex-end;
    padding: 0 5vw 5vh 5vw;
  }

  .footerText {
    white-space: nowrap;
    color: var(--gray-300);
    font-weight: bold;
    text-decoration: none;
  }

  /* Flexbox settings to separate external link images*/
  a + a {
    margin-left: 3%;
  }