/* Flexbox settings for text links inside the footer*/
.footerLink {
  display: flex;
  font-weight: bold;
  align-items: flex-end;
  flex-shrink: 0;
  padding: 0 5vw 5vh 5vw;
}

.footerText {
  white-space: nowrap;
  color: var(--gray-300);
  font-weight: bold;
  text-decoration: none;
  margin-left: 2%;
}

.footerText:hover {
  text-decoration: underline;
}