.chatBox {
    height: 72vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.chatBox ul>li {
    margin: 15px 0;
}

.chatStyle {
    list-style-type: none;
    padding: 0;
    padding-bottom: 5px;
    position: relative;
    bottom: 0;
}

.submitButton {
    color: var(--gray-100);
    font-size: 14px;
    height: 40px;
    width: 10%;
    min-width:70px;
    overflow: hidden;
    word-wrap: normal;
}

li>span {
    color: #F4B400;
    font-weight: bold;
  }