/* Flexbox settings for text links inside the footer*/
.headerLink {
  display: flex;
  font-weight: bold;
  align-items: baseline;
  flex-shrink: 0;
  padding: 5vh 5vw 0 5vw;
}

input[type=text] {
  background-color: var(--gray-700);
  color: var(--gray-300);
  width: 35vw;
  height: 40px;
  outline: none;
  font-size: 16px;
  background-image:url(../logos/search.svg);
  background-repeat: no-repeat;
  background-position: 13px 10px;
  padding-left: 40px;
  border: 0;
  border-radius: var(--border);
}

input[type=text]:focus {
  background-color: var(--gray-800);
  border: solid;
  border-width: 1px;
  border-color: var(--gray-300);
}

::placeholder {
  color: var(--gray-300);
}