/* Flexbox settings for objects on the sides of the flexbox */
.headerLeftEdge {
  padding: 5vh 2vw 0 5vw;
  align-items: flex-end;
}
.headerCenter {
  flex-shrink: 1;
  flex-grow: 1;
  padding: 5vh 0 0;
  align-items: flex-end;
}
.headerRightEdge {
  padding: 5vh 5vw 0 1vw;
  margin-left: 60px;
  align-items: flex-end;
}

/* Styling for the Groups button */
.groupButton {
  border-style: solid;
  border-color: var(--gray-900);
  border-radius: var(--border);
  border-width: 1px;
  padding: 5px;
  color: var(--white);
  background-color: var(--accent);
  font-weight: bold;
}
.groupButton:hover {
  border-color: var(--white);
}

/* Styling for the searchbar */
input[type=text] {
  background-color: var(--gray-700);
  color: var(--gray-300);
  width: 100%;
  min-width: 20vw;
  height: 40px;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  background-image:url(../logos/search.svg);
  background-repeat: no-repeat;
  background-position: 13px 11px;
  padding-left: 40px;
  border-style: solid;
  border-color: var(--gray-900);
  border-radius: var(--border);
  border-width: 1px;
}
input[type=text]:focus {
  background-color: var(--gray-800);
  border-color: var(--gray-300);
}
::placeholder {
  color: var(--gray-300);
  font-weight: bold;
}