body {
  overflow-x: hidden; /* hide scrollbar */
}

/* Flexbox container to position the login box in the center */
.flexContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upperContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* Flexbox styling for the login page box*/
.loginBox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--gray-800);
    border-radius: var(--border);
    margin-bottom: 40px;
  }
  
  /* Flexbox styling for the Google OAuth button */
  .button {
    background-color: var(--gray-700);
    border-style: none;
    border-radius: var(--border);
    color: var(--gray-100);
    padding: 10px;
    font-weight: bold;
  }
  .button:hover {
    background-color: var(--gray-600);
    cursor: pointer;
  }

  