.extraMargin {
    margin-bottom: 3vh;
}

.explore {
    background: linear-gradient(to top, 
        var(--gray-700) 50%, var(--gray-800) 50%);
}

.exploreText {
    font-weight: bold;
    color: var(--gray-100);
    text-decoration: none;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

.eventText {
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

.eventGold {
    color: var(--accent);
    font-weight: normal;
}

.eventBox {
    background: var(--gray-800);
    width: 100%;
    padding: 0 1vmin 0 1vmin;
    position: relative;
    left: -1vmin;
    border-top: 2px solid var(--gray-700);
    border-bottom: 2px solid var(--gray-800);
}