body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent: #F4B400;
  --white: #FFFFFF;
  --gray-100: #DEE3EA;
  --gray-200: #B2BDCD;
  --gray-300: #5D7290;
  --gray-400: #4F617A;
  --gray-500: #404F64;
  --gray-600: #323D4D;
  --gray-700: #242C37;
  --gray-800: #151A21;
  --gray-900: #0B0E11;
  --border: 3%;

  background: var(--gray-900);
  color: var(--gray-100);
}

/* Style for links using the gold accent */
.goldLink {
  color: var(--accent);
  text-decoration: none;
}

/* Style for Wuphf logo that prevents from being highlighted */
.svgText {
  color: var(--accent);
  font-size: 50;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Flexbox container to position the login box in the center */
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

/* Flexbox styling for the privacy policy and terms of service*/
.policyBox {
  flex: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60%;
  padding: 0.5%;
  height: 38%;
  margin: 20%;
  margin-top: 3%;
  margin-bottom: 3%;
  background: var(--gray-800);
  border-radius: 2%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
