body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent: #F4B400;
  --white: #FFFFFF;
  --gray-100: #DEE3EA;
  --gray-200: #B2BDCD;
  --gray-300: #5D7290;
  --gray-400: #4F617A;
  --gray-500: #404F64;
  --gray-600: #323D4D;
  --gray-700: #242C37;
  --gray-800: #151A21;
  --gray-900: #0B0E11;
  --border: 6px;

  background: var(--gray-900);
  color: var(--gray-100);
}

/* Flexbox container for the page header and footer */
.menuContainer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

/* Style for links using the gold accent */
.goldLink {
  color: var(--accent);
  text-decoration: none;
}
.goldLink:hover {
  text-decoration: underline;
}


.noHighlight {
  text-decoration: none;
}

/* Style for Wuphf logo that prevents from being highlighted */
.svgText {
  color: var(--accent);
  font-size: 50;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


/* Flexbox styling for the privacy policy and terms of service*/
.policyBox {
  flex: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60%;
  padding: 0.5%;
  height: 38%;
  margin: 20%;
  margin-top: 3%;
  margin-bottom: 3%;
  background: var(--gray-800);
  border-radius: 2%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
